html {
    font-size: var(--font-size, 100%);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 70px 0 0;
    width: 450px;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: SlickRemix;
    src: url(fonts/SlickRemix.eot?p9iqv);
    src: url(fonts/SlickRemix.eot?#iefixp9iqv) format('embedded-opentype'), url(fonts/SlickRemix.ttf?p9iqv) format('truetype'), url(fonts/SlickRemix.svg?p9iqv#SlickRemix) format('svg');
    font-weight: 400;
    font-style: normal
}

span.slickremix-logo:before {
    font-family: SlickRemix;
    content: "\e600";
    line-height: 1.2em;
    font-size: 22px;
    margin-right: 9px;
    font-style: normal;
}

.slickremix-title {
    position: relative;
    top: -3px;
    font-style: italic;
    font-size: 16px;
}


.header {
    text-align: left;
    padding: 18px 18px 18px 20px;
    font-weight: normal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    box-shadow: 0px 0px 3px 0px #000000;
}

.tab {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
    z-index: 1;
    position: relative;
}

.tablinks {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    font-size:1.2em;
    font-weight: normal;
    color: #b0afaf;
}

.tablinks.active {
    /* background-color: #fffdfd; */
    /* color: #333; */
}

.suggestion {
    white-space: pre-wrap;
    padding: 17px 25px;
    border-radius: 3px;
    font-size:1.2em;
    margin: 10px 0;
    word-break: break-word;
    overflow-wrap: break-word;
    position: relative;
    color: #444444;
}

.suggestion button:focus {
    outline: none;
    background: none !important;
}

button:focus {
    outline: none;
}

.tablinks:hover:not(.active) {
    color: #fff;
}

.tabcontent {
    display: none;
    flex-grow: 1;
    padding: 15px 10px; /* Add padding to the content */
}

.settings-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 16px;
}

.settings-form label,
.settings-form input {
    display: block;
}

label {
    font-size: .84rem;
    position: relative;
    padding-left: 5px;
}

.gpt-description {
    padding: 0 0 20px 0;
    font-size:1.1em;
}

.gpt-description strong {
    font-weight: bold;
}

#custom-context-menu-settings-tab label {
    padding-left: 0px;
}

#custom-context-menu-settings-tab input {
    margin-bottom: 10px;
}

.switch label {
    padding-left: 0px;
}


.toggle-label {
    display: inline-block;
    min-width: 35px;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #a4a6a7;
}

.settings-form input {
    width: 100%;
    padding: 8px;
    font-size:1.2em;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    box-sizing: border-box;
}

.settings-form input:focus {
    outline: none;
}

/* Google Forms-like style for textarea and buttons */
textarea,
button {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.15em;
}


textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(117, 117, 117, 0.25);
}

button {
    color: white;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
    line-height:1.1
}

.submit-button {
    margin: 30px 0 15px;
}

#settings-form .submit-button {
    margin: 15px 0 15px;
}

.submit-button-suggestions {
    margin: 10px 0 8px;
}

#temperature {
    margin-bottom: 25px;
}

.copied-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1.15em;
    font-weight: bold;
    opacity: 0;
    animation: fade-in-out 1.5s forwards;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#suggestions-container {
    position: relative;
    margin-bottom: 120px;
    padding-right: 10px;
    margin-right: -10px;
}

.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 3px;
    animation: dotBounce 1.4s infinite;
}

.dot:nth-child(1) {
    animation-delay: -0.4s;
}

.dot:nth-child(2) {
    animation-delay: -0.2s;
}

@keyframes dotBounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
}


.settings-wrap .material-icons {
    font-size: 1.5em;
    margin:0 !important;
    padding:0 !important;
    float:left;
}

.material-tooltip {
    width: 340px !important;
    text-align: left;
    padding: 15px;
    z-index: 1000;
    font-size: 1.2em;
}


.material-tooltip {
    left: 30px !important;
    margin-top: -10px
}

.overlay {
    font-size: 1.3em;
    opacity: 0;
    animation: fade-in-out 1.5s forwards;
}

.overlay.fade-out {
    opacity: 0;
}

.switch-wrap {
    margin: 4px 0;
    padding: 5px 15px 25px 25px;
}

.switch-description {
    padding: 15px 0 0;
    font-size: 1.08em;
    margin: 0 0 15px;
}

.share-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    position: absolute;
    right: -4px;
    top: -23px;
}

.share-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.share-button svg {
    fill: #1c9cf2;
    max-width: 18px;
}

.share-button:hover {
    background: none;
}

.share-button svg:hover {
    fill: #0f98cd;
}

.settings-wrap {
    margin-bottom: 20px
}

#githubUrlContainer .helper-text {
    font-size: 1.1em;
    color: #989696
}

#githubUrlContainer .prompt-wrap {
    padding-top: 5px
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #d9d9d9;
}

.gtp-model-type label {
    display: block;
}

#suggestions-tab .content {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    box-shadow: -2px 8px 16px 4px #aeacac00;
    width: 100%;
    z-index: 1;
}

#suggestions-tab .content textarea {
    border: none;
    overflow-y: auto;
    resize: none;
    max-height: 250px;
}

textarea {
    padding: 8px 8px 0 8px;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    box-shadow: none !important;
}

#suggestions-tab {
    min-height: 40px;
}

#suggestions-tab.tabcontent {
    display: none;
    flex-grow: 1;
    padding: 0; /* Add padding to the content */
}

#submit-button {
    margin-left: 5px;
}

#suggestions-container {
    height: 403px;
    overflow: auto;
}

/* Add styles for the custom context menu */
#custom-context-menu {
    display: none;
    position: absolute;
    border: 1px solid #4f4e4e;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 30%);
    z-index: 100;
    color: #fff;
    max-width: 350px;
    min-width: 350px;
    opacity: 0;
    transition: opacity .5s; /* adjust duration as needed */
    overflow: hidden;
}

#saved-custom-prompts-header {
    cursor: pointer;
}

.saved-prompts-list {
    padding: 10px 8px;
    text-align: center;
    font-size: 1.15em;
    box-shadow: inset 0px -2px 0px #000;
}

.saved-prompts-list a {
    color: #fff;
}

#custom-context-menu ul {
    margin: 0;
    padding: 5px;
    list-style: none;
    overflow: auto;
    max-height: 298px;
    transition: .9s;
}

#custom-context-menu li {
    padding: 6px 12px;
    cursor: pointer;
    font-size: 1.1em;
    transition: .2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabcontent h3 {
    font-size: 1.7em;
    margin: 0 0 10px 0;
    color: #444;
    font-weight: bold;
}

.tabcontent p {
    font-size: 1.09em;
    margin: 0 0 25px 0;
}

#save-custom-context-menu-settings {
    margin: -10px 0 20px 0;
}

.prompt-wrap {
    padding: 15px;
    margin-bottom: 15px;
}

.hamburger-menu {
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 17px;
    width: 28px;
    height: 20px;
    margin-top: 3px;
}

.hamburger-menu span {
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: #fffefe;
    transition: all 0.3s;
}

.hamburger-menu span:first-child {
    top: 0;
}

.hamburger-menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger-menu span:last-child {
    bottom: 0;
}

.settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 83%);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.settings-overlay.visible {
    opacity: 1;
    pointer-events: auto;
}

.settings-content {
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.settings-menu {
    position: absolute;
    top: 63px;
    list-style-type: none;
    padding: 0;
    margin: 4px 0 0;
    text-align: center; /* Add this line to center the menu items horizontally */
    width: 100%;
}

.settings-menu li {
    padding: 15px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin-bottom: 2px;
    color: #fff;
}

.settings-menu li.active svg, .settings-menu li:hover svg {
    /* fill:#0b0b0b; */
}

.settings-menu svg {
    max-width: 25px;
    display: inline-block;
    fill: #fff;
    margin: 5px 0 2px 0;
}

.settings-menu div {
    position: relative;
    margin: 0px 0 5px;
}

.settings-menu button {
    width: 200px;
    text-align: left
}

.container input {
    font-size: 1.2em !important;
}

.github-option {
    margin-top: 30px;
    margin-left: 1px
}

.github-option p {
    padding-left: 8px;
    margin-bottom: 15px;
}

.suggestion.user-input {
    background: #f1f1f100;
}

.user-input .share-container {
    display: none
}

script {
    display: block
}

#customPromptsLink, .suggestionsLink {
    cursor: pointer;
}

#token-count {
    color: #c2bebe;
    position:relative;
    top:22px;
    font-size:1.1em;
    float:right;
    cursor: pointer;
}

.theme-option {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-right: 11px;
    cursor: pointer;
    transition:.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.button-color-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    transition:.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
@media(max-width: 400px){
    .button-color-option {
        width: 37px;
        height: 37px;
        margin-right: 2px;
    }
    .theme-option {
        margin-right: 5px;
        width:67px;
        height:67px;
    }
}
.theme-option{
    border: 1px solid #ffffff3d;
    outline: 1px solid #aeaeae8a;
    outline-offset: -8px;
}
.button-color-option{
    border: 1px solid #ffffff00;
    outline: 1px solid #fffdfd36;
    outline-offset: -3px;
}


.theme-option .material-icons{
    opacity:0;
    color: #cdcccc;
}

.button-color-option .material-icons {
    opacity:0;
    color: #ffffff;
}

.theme-option.active .material-icons,
.button-color-option.active .material-icons {
    opacity:1;
}
.button-color-option .material-icons {
    font-size:20px;
}

.settings-size-slider {
    position: relative;
    height: 25px;
    margin-right: 9px;
}

#font-size, #popup-size  {
    width: 100%;
    height: 10px;
    background: transparent;
    -webkit-appearance: none;
    margin: 5px 0;
    border-radius: 10px !important;
}

#font-size::-webkit-slider-runnable-track, #popup-size::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    border-radius: 10px;
}

#font-size::-webkit-slider-thumb, #popup-size::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    background: #f3f3f3;
    box-shadow:0 0 4px #868484;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 50%;
    transition: background .15s ease-in-out;
}

#font-size:active::-webkit-slider-thumb {
    background: #ffffff;
}

input[type=range]+.thumb {
    position: absolute;
    top:-32px !important;
    display: none;
    opacity: 0;
}
#changelog-container {
    white-space: pre-wrap;
    font-family: arial, 'sans-serif';
    font-size:1.1em;
    padding:25px 15px;
}
#updateNotification {
    color:#ffffff;
    opacity: 0;
    display:block;
    position:absolute;
    top:19px;
    right:60px;
    cursor:pointer;
    transition: 1s;
}
.changelog-fade-in {
    opacity: 0;
    transition: opacity 0.5s;
    opacity: 1;
}
.container {
    width: 90% !important;
}
body.settings-options,
body.settings-options .header,
body.settings-options #font-size::-webkit-slider-runnable-track,
body.settings-options #popup-size::-webkit-slider-runnable-track,
body.settings-options .switch label input[type=checkbox]:checked + .lever,
body.settings-options .material-icons{
    transition:.4s;
}

body.settings-options .switch-wrap {
    transition: background-color 0.4s linear;
}

body.settings-options .switch-wrap .switch-description,
body.settings-options .switch-wrap label {
    transition:.03s !important;
}